.feed{
    flex: 0.6;
    margin: 0 20px;

}
.feed-inputContainer{
  background-color: white;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 20px;

}

.feed-input{
    display: flex;
    border: 1px solid lightgrey;
    border-radius: 30px;
    padding: 10px;
    color: gray;
    padding-left: 15px;
}

.feed-input > form{
    display: flex;
    width: 100%;

}
.feed-input  > form > input{
    border:none;
    flex: 1;
    outline: none;
    font-weight: 600;
    margin-left: 10px;
    
}
.feed-input  > form > button{
  display: none;
    
}
.feed-inputOptions{
    display: flex;
    
    justify-content: space-evenly;
}