.header{
    position: sticky;
    top: 0;
    display: flex;
    background-color:white;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    padding:  10px;
    width: 100%;
    z-index: 1;
}
.header-left > img{
    object-fit: contain;
    height: 40px;
    margin-right: 10px;

}
.header-left{
    display: flex;
}
.header-search{
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    color: gray;

    background-color: #EEF3F8;


}
.header-search > input{
    border: none;
    outline: none;
    background: none;
}

.header-right{
    display: flex;
}