.headerOption{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
    color: gray;
}

.headerOption:hover{
    color: black;
}

.headerOption-title{
    font-size: 12px;
    font-weight: 400;
}
.headerOption-icon{
    object-fit: contain;
    height: 25px !important;
}