.inputOptions{
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding: 10px;
    cursor: pointer;
    color: gray;
}
.inputOptions:hover{
    background-color: whitesmoke;
    border-radius: 10px;
}

.inputOptions > p{
    margin-left: 10px;
}