.post{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.post-info{
margin-left: 10px;
}

.post-info > p{
   color: gray;
}
.post-info > h2{
   font-size: 15px;
 }
.post-header{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.post-body{
    overflow-wrap: anywhere;
}

.post-button{
    display: flex;
    justify-content: space-evenly;
}