.sidebar{
    position: sticky;
    top: 80px;
    flex: 0.2;
    border-radius: 10px;
    height: fit-content;
    text-align: center;
}

.sidebar-avatar{
    margin-bottom: 10px;
}
.sidebar-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:  1px solid lightgrey;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    padding-bottom: 10px;
}

.sidebar-top > img{
    margin-bottom: -20px;
    width: 100%;
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.sidebar-stat{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.sidebar-stat > p{
    color: gray;
    font-size: 13px;
    font-weight: 600;

}
.sidebar-statNumber {
    font-weight: bold !important;
    color: #0A8FD3 !important;
}
.sidebar-stats{
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    border:  1px solid lightgrey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.sidebar-top > h4{
    margin: 0px 10px;
    color: gray;
    font-size: 12px;

}
.sidebar-top >h2{
    font-size: 18px;
}

.sidebar-bottom{
    text-align: left;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    background-color: white;
    margin-top: 10px;
}

.sidebar_recentItem{
    display: flex;
    font-size:13px ;
    color: gray;
    cursor: pointer;
    font-weight: bolder;
    padding: 5px;
}

.sidebar_recentItem:hover{
   background-color: whitesmoke;
   border-radius: 10px;
   color: black;

}

.sidebar-hash{
    margin-right: 10px;
}